<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
	<link rel="stylesheet" href="/css/myStyle.css" type="text/css">
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/poseidon/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<div class="form-group" >
				<label for="curveId">Curve Id</label>
				<input  th:field="${curvePoint.curveId}"  id="curveId" class="form-control" type="text" name="curveId" placeholder="Curve Id"/>
				<span class="text-danger" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}" >Curve Id Error</span>
			</div>
			<div class="form-group" >
				<label for="term"> Term </label>
				<input  th:field="${curvePoint.term}"  id="term" class="form-control" type="text" name="term" placeholder="Term"/>
				<span class="text-danger" th:if="${#fields.hasErrors('term')}" th:errors="*{term}" >Term Error</span>
			</div>
			<div class="form-group" >
				<label for="value">Value</label>
				<input  th:field="${curvePoint.value}"  id="value" class="form-control" type="text" name="value" placeholder="Value"/>
				<span class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}" >Value Error</span>
			</div>
			<div class="form-group">
				<div class="row justify-content-center">
					<div class="col-sm-6 col<-sm-offset-3">
						<button style="background color-blue" type="submit" class="btn btn-primary">
							Add CurvePoint
						</button>
					</div>
				</div>
			</div>
		</form>
		<form th:action="@{/poseidon/curvePoint/list}" th:method="get">
			<button class="btn btn-danger" type="submit" >
				Cancel
			</button>
		</form>
	</div>
</div>
<footer class="container-fluid bg-grey py-5">
	<div class="logo">
		<img src="/../../logoPoseidon.png" class="w-50 logo-footer" title="Poseidon Inc.">
	</div>
</footer>
</body>
</html>