<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
	<link rel="stylesheet" href="/css/myStyle.css" type="text/css">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/poseidon/bidList/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/poseidon/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/poseidon/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/poseidon/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/poseidon/ruleName/list">Rule</a> |
			<a href="/poseidon/user/list">Users</a>
		</div>
		<div class="col-6 text-right">
			Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
			<form th:action="@{/app-logout}" method="POST">
				<input type="submit" value="Logout"/>
			</form>
		</div>
	</div>
	<div class="row"><h2>Rule List</h2></div>
	<div class="row">
		<a href="/poseidon/ruleName/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>json</th>
					<th>template</th>
					<th>sql</th>
					<th>sqlPart</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="ruleName:${listOfAllRuleName}">
				<td th:text="${ruleName.id}"></td>
				<td th:text="${ruleName.name}"></td>
				<td th:text="${ruleName.description}"></td>
				<td th:text="${ruleName.json}"></td>
				<td th:text="${ruleName.template}"></td>
				<td th:text="${ruleName.sql}"></td>
				<td th:text="${ruleName.sqlPart}"></td>
				<td>
					<div class="btn-group">
						<form th:action="@{/poseidon/ruleName/update/{id}(id=${ruleName.id})}" th:method="get">
							<button class="btn btn-primary mr-2">Edit</button>
						</form>
						<form th:action="@{/poseidon/ruleName/delete/{id}(id=${ruleName.id})}" th:method="delete">
							<button class="btn btn-danger mr-2">Delete</button>
						</form>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
<footer class="container-fluid bg-grey py-5">
	<div class="logo">
		<img src="/../../logoPoseidon.png" class="w-50 logo-footer" title="Poseidon Inc.">
	</div>
</footer>
</body>
</html>