<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container" style="spacer">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/poseidon/bidList/validate}" th:object="${bidList}" method="post" class="form-horizontal" style="width: 100%">

			<div class="form-group" >
				<label for="account">Account</label>
				<input  th:field="${bidList.account}"  id="account" class="form-control" type="text" name="account" placeholder="Account"/>
				<span class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}" >Account Error</span>
			</div>
			<div class="form-group">
				<label for="type">Type</label>
				<input  th:field="${bidList.type}" id="type" class="form-control" type="text" name="type" placeholder="Type"/>
				<span class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}" >Type Error</span>
			</div>
			<div class="form-group">
				<label for="bidQuantity">Bid Quantity</label>
				<input  th:field="${bidList.bidQuantity}" id="bidQuantity" class="form-control" type="double" name="bidQuantity" placeholder="Bid Quantity"/>
				<span class="text-danger" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}" >Quantity Error</span>
			</div>
			<div class="form-group">
				<div class="row justify-content-center">
					<div class="col-sm-6 col<-sm-offset-3">
						<button style="background color-blue" type="submit" class="btn btn-primary">
							Add Bid List
						</button>
					</div>
				</div>
			</div>
			<!--
			TODO: Create a form to input the values of Bid, there are 2 buttons: Save data and Cancel to the list Bid
			 -->
		</form>
		<form th:action="@{/poseidon/bidList/list}" th:method="get">
			<button class="btn btn-danger" type="submit" >
				Cancel
			</button>
		</form>
	</div>

</div>
</body>
</html>